{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center" style="background-color: #89D1F5;"><h1><br>Welcome To TopicModeller</h1></div>

<div class="card shadow mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                          <p>This App contains multiple fields for searching Topic Pathways. After viewing topic pathways, you can get predictions for any topic!</p>



                    </div>
                  </div>
                </div>
              </div>
</div>



{% endblock %}